.hero_container {
    background-image: url("../../assets/images/HeroPage25.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (max-width: 600px) {
    .hero_container {
        background-image: url("../../assets/images/background_image26_phone.svg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
    }
}

@media (max-width: 1200px) {
    .hero_container {
        background-position: left;
    }
}
